/* MARK: Header */

header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

button {
    all: unset;
    cursor: pointer;
}




/* MARK: Main */
main {
    padding: 3em 1.1em 3em 1em;
    @media (min-width: 40em) {
        grid-column: 2/3;   
    }
}

.section-explenation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-cadeaus {
    padding-top: 1em; 
    list-style-type: none; 
    display: flex; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
	overscroll-behavior-x: contain;  
    width: 100%; 
    gap: 1em;
   
}

.section-cadeaus::-webkit-scrollbar {
    display: none;
}


.carousel-one {
    position: relative;
}

.save-button{
    position: absolute;
    top: 1em;
    right: 1.2em;
}

p {
    font-family: var(--font-default);
}


.chat-button {
    display: block;
    position: fixed;
    bottom: -.5em;
    right: .4em;
    cursor: pointer;
    @media (min-width: 40em) {
        display: none;
    }
}


/* MARK: VIEW TRANSITION*/

@view-transition{
    navigation: auto;
}

@keyframes move-out {
    0% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(-30%)
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-in {
    0% {
        transform: translateX(100%);
    }
    30% {
        transform: translateX(30%)
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}