/* MARK: Header */

header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

button {
    all: unset; /*Verwijdert de standaard styling van de button*/
    cursor: pointer;
}




/* MARK: Main */
main {
    padding: 3em 1.1em 3em 1em;
    @media (min-width: 40em) {
        grid-column: 2/3;   
    }
}

.section-explenation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-cadeaus {
    padding-top: 1em; /* Verwijdert de standaard padding van de <ul> */
    list-style-type: none; /* Verwijdert de standaard opsommingstekens */
    display: flex; /* Maakt de <ul> een flex-container */
    overflow-x: auto; /* Maakt horizontaal scrollen mogelijk */
    scroll-snap-type: x mandatory; /* Zet automatisch centreren bij scrollen aan op de x-as: als je scrolt komt de meest dichtsbijzijnde foto op de focus */
	overscroll-behavior-x: contain;  /* Beperkt het horizontale scrollgedrag: vermijdt het swipen naar een andere pagina  */
    width: 100%; /* Zet de breedte van de <ul> op 100% */
    gap: 1em;
}

.section-cadeaus::-webkit-scrollbar {
    display: none; /*Verwijdert de scrollbar*/
}


.carousel-one {
    position: relative;
}

.save-button{
    position: absolute;
    top: 1em;
    right: 1.2em;
}

p {
    font-family: var(--font-default);
}


.chat-button {
    display: block;
    position: fixed;
    bottom: -.5em;
    right: .4em;
    cursor: pointer;
    @media (min-width: 40em) {
        display: none;
    }
}


/* MARK: VIEW TRANSITION*/

@view-transition{ /*hiermee wordt de @viewtransitie geactiveerd: https://developer.chrome.com/docs/web-platform/view-transitions*/
    navigation: auto;
}

@keyframes move-out {
    0% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(-30%)
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-in {
    0% {
        transform: translateX(100%);
    }
    30% {
        transform: translateX(30%)
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}