* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    
  }


body{
    background-color: var(--background-color);
    font-family: var(--font-default);
}

header{
}


.cards{
    display: flex;
    overflow-x: auto;
    gap: 3em;
    margin: 0;
    padding: 1em;
}

.card{
    display: grid;
    position: relative;
    box-shadow: 0 0 .5em #555;
    

    @media (min-width: 769px) {
        height: 50%;
        width: 15%;
    }

    
}

.like-button{
    position: absolute;
    top: 1em;
    right: 1em;
    border-radius: 45%;
    width: auto;
    height: 2em;

    @media (min-width: 769px) {
        position: absolute;
        top: 1em;
        right: 1em;
        border-radius: 45%;
        height: 15%;
        width: 15%;
    }
}